@import url('reset-fonts-grids.css') screen;
@import url('sinorcaish-screen.css') screen;

/***** Elements *****/
body.doc{
	margin-top:0px;
	font-size:smaller;
	font-family:"Lucida Grande",Verdana,sans-serif;
	background:#f0f0ee;
}

/***** Layout elements *****/
#hd h1{
	margin:0em;
	padding:0.5em 0.5em;
}

#hd h2{
	margin:0em;
	padding:0em 0em 0em 0.5em;
	
}
#main{
	background:#fff;
	margin-left:0em;
	border: solid 1px #ccc;
}

/***** document related *****/
div.dateline{
	border-top:solid 1px #ccc;
}

/***** Sidebar *****/
#sidenav{
    list-style: none outside;
}